.Form {
  border: none;
  border-bottom: 2px #000000;
}

.Button {
  border: none;
  background-color: #2e1114;
  color: aliceblue;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #501b1d;
  color: #adadad;
}
