.Post {
  background-color: #951717;
  border: 1px ridge #501b1d;
  border-radius: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #501b1d;
}

.Heart:hover {
  color: #2e1114;
}

.HeartOutline:hover {
  color: #adadad;
}
